body {
    background-color: #3C1D3E;
}

.container {
    position: fixed;
    display: flex;
    height: calc(100% - 10%);
    width: calc(100%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    width: calc(100% - 10%);
}